@model IEnumerable<Bazar.Models.PaymentTypes>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecurityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentTypesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentTypesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentTypesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
